{% extends 'index.html' %}
{%block categorias_movil%}{%endblock%}
{%block categorias_desktop%}{%endblock%}
{%block categorias_nav%}<li class="{% block nav_catalogo %} {% endblock %}"><a href="{% url 'catalogo' %}"><span>Categorias</span></a>{%endblock%}
{%block contenido%}
      <div class="page-title">
        <div class="container">
          <div class="column">
            <h1>Email Enviado</h1>
          </div>
          <div class="column">
            <ul class="breadcrumbs">
              <li><a href="{% url 'index' %}">Inicio</a>
              </li>
              <li class="separator">&nbsp;</li>
              <li><a href="{% url 'password_reset_page'%}">Recuperar Contraseña</a></li>
              <li class="separator">&nbsp;</li>
              <li>Email Enviado</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Page Content-->
      <div class="container padding-bottom-3x mb-2">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-10">
            <h2>Por favor revisa tu email</h2>
            <p>Te hemos enviado un email para que puedas restablecer tu contraseña.</p>
          	<a class="btn btn-primary" href="{%url 'index'%}">Volver a inicio</a>   
          </div>
        </div>
      {% endblock %}
  </body>
</html>